$success: #157347;
$info: #0dcaf0;
$warning: #fe0000;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.eot');
  src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'Lato';
  .container {
    display: grid;
    header {
      border: 1px solid #ccc;
      border-left: 0;
      border-right: 0;
      margin: 20px 0px;
      display: flex;
      align-items: last baseline;
      h1 {
        font-size: 30px;
        font-weight: lighter;
      }
      .alert-info {
        width: auto;
        margin: 0px auto;
        padding: 10px 20px;
        border-radius: 5px;
        background: $info;
        color: #fff;
      }
    }

    .product-wrapper {
      width: 75%;
      float: left;
      display: inline-flex;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 30%;
        &__header {
          span {
            color: #fff;
            background-color: $success;
            border-color: #146c43;
            position: absolute;
            padding: 5px;
            border-radius: 5px;
          }
        }
        &__body {
          text-align: center;
          img {
            width: 40%;
            background: #ddd;
            padding: 1px;
            margin: 15px 0px;
          }
        }
        &__footer {
          background: #ddd;
          font-size: 14px;
          display: grid;
          padding: 10px;
          p {
            color: #146c43;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 10px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              width: 50%;
              float: left;
              font-size: 14px;
              &:first-child {
                span.normal-text {
                  text-decoration: line-through;
                  text-decoration-color: red;
                  font-weight: bold;
                  text-decoration-thickness: 2px;
                }
                span {
                  font-weight: bold;
                  font-size: 14px;
                }
              }
              &:last-child {
                text-align: right;
                button {
                  color: $info;
                  background-color: transparent;
                  border-color: $info;
                  border-radius: 5px;
                  font-size: 14px;
                  padding: 8px 15px;
                  cursor: pointer;
                  &:hover {
                    background-color: $info;
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
    .total-wrapper {
      width: 25%;
      float: left;
      .product-options,
      .product-total {
        .Table {
          display: table;
          width: 100%;
          font-size: 14px;
          .total-row {
            background: #ddd;
          }
        }

        .Heading {
          display: table-row;
          font-weight: bold;
          text-align: center;
        }
        .Row {
          display: table-row;
        }
        .Cell {
          color: #888;
          display: table-cell;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding-left: 5px;
          padding-right: 5px;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: inline;
              font-size: 12px;
              img {
                width: 10%;
                border: 1px solid #ddd;
                position: relative;
                top: 15px;
                padding: 5px;
              }
              a {
                color: #888;
                border: 1px solid $warning;
                text-decoration: none;
                padding: 2px 5px;
                border-radius: 5px;
              }
            }
          }
          input {
            border-radius: 5px;
            border: 1px solid $info;
            padding: 10px;
            width: 75px;
          }
        }
      }
    }
    footer {
      color: #666;
      font-size: 12px;
      margin-top: 20px;
      border-top: 1px solid #f0f0f0;
      padding: 10px 0px;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .product-wrapper,
  .total-wrapper {
    width: 100% !important;
  }
}

@media (max-width: 764px) and (min-width: 360px) {
  .product-wrapper,
  .total-wrapper {
    width: 100% !important;
  }
  .card {
    width: 100% !important;
  }
}
